<html>

<head>
    <title>Account</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../../assets/css/main.css" />
    <link rel="shortcut icon" href="../../../images/favicon.ico">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="../../../DatePickerX-master/dist/css/DatePickerX.css">
</head>

<body>
    <header id="header">
        <div class="inner">
            <a href="../../../index.html" class="logo"><strong>TukTUk</strong> </a>

            <nav id="nav">
                <a href="#">
                    <div class="dropdown">
                        <div class="dropbtn" id="nameinnavbar"> </div>
                        <div class="dropdown-content">
                                <div class="dropdown-content">
                                        <a href="/app/components/user/account.html">Profile</a>
                                        <a href="/app/components/user/notifications.html" onclick= "displaynotifications()">Notifications</a>
                                        <a href="/app/components/user/rides-request.html" onclick="displayrequests()">Requests</a>
                                        <a href="/app/components/user/bookings.html">Bookings</a>
                                        <a href="/app/components/user/offeredrides.html">Offered Rides</a>
                                        <a href="/app/components/Login/changepassword.html">Change Password</a>
                                        <a onclick="signOut()">Sign out</a>
                                    </div>
                        </div>
                    </div>
                </a>
                <a href="../Traveller/find-a-ride.html"> <i class="fa fa-car" aria-hidden="true"></i> Find a Ride</a>
                <a href="../Traveller/offerr-ride.html"> <i class="fa fa-plus-square" aria-hidden="true"></i> Offer a Ride</a>
               <!-- <a >  <span><span id="badge" class="badge" style="background-color:red; position: absolute;
                  bottom:58%;
                  left: 99%;
                  z-index: 10;}">4</span></span></a>
                <a onclick="notifications()" class="glyphicon glyphicon-bell" style="font-family: 'Glyphicons Halflings'!important;"></a> -->
            </nav>
            <a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
        </div>
    </header>
    <div class="container">
        <section id="banner2">
            <div class="row" style="height:25%;">
                <div class="col-md-4">
                    <img src="../../../images/profile.png" style="height:20em ;width:15em" />
                </div>
                <div class="col-md-8" style="text-align:left">
                    <div class="row" style="position: relative;">
                        <h2> Profile </h2>
                        <!-- <ul class="nav nav-tabs " style="font-size: 1.25em; font-weight: 700;">
                            <li class="active"><a href="#profile">Profile</a></li>
                            <li><a href="#vehicledetails">Vehicle Details</a></li>
                        </ul> -->
                    </div>
                    <div class="tab-content">
                        <div id="profile" class="tab-pane fade in active">

                            <div class="col-md-8">

                                <table style="text-align:left">
                                    <tr>
                                        <td style="font-size:2em;"> Name </td>
                                        <td id="aname"> </td>
                                    </tr>
                                    <tr>
                                        <td> Email </td>
                                        <td id="aemail"> </td>
                                    </tr>
                                    <tr>
                                        <td> Phone</td>
                                        <td id="aphone"> </td>
                                    </tr>

                                    <tr>
                                        <td>Joined on</td>
                                        <td id="adob"> </td>
                                    </tr>
                                </table>

                            </div>
                        </div>
                        <!-- <div id="vehicledetails" class="tab-pane fade">
                            <div class="col-md-6">
                                <table style="text-align:left">
                                    <tr>
                                        <td> <label for="name" style="">Model </label></td>
                                        <td id= "model"> </td>
                                    </tr>
                                    <tr>
                                        <td> <label for="email">Registration No. </label></td>
                                        <td id="registration"> </td>
                                    </tr>
                                </table>
                            </div>
                        </div> -->

                    </div>
                </div>
            </div>


        </section>
    </div>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    <script src="../Traveller/ride.js"></script>
    <script src="user.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>

    <script>
        $(document).ready(function() {
            // if(Cookies.get("name")==null){
            //     alert("Oops! You are not logged in. ");
            //     location.href="/app/components/Login/login.html"
            // }
            $("#nameinnavbar").html(Cookies.get("name"));
            $(".nav-tabs a").click(function() {
                $(this).tab('show');
            });
           
            getUserData()
        });
    </script>

</body>

</html>