<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bookings</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="../../../assets/css/main.css" />
  <link rel="shortcut icon" href="../../../images/favicon.ico">
  	
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <link rel="stylesheet" href="../../../DatePickerX-master/dist/css/DatePickerX.css">
</head>
<body>
	<header id="header">
    <div class="inner">
      <a href="../../../index.html" class="logo"><strong>TukTuk</strong> </a>
      
      <nav id="nav">
          <a href="#">
              <div class="dropdown">
                  <div class="dropbtn" id= "nameinnavbar"> 

                  </div>
                  <div class="dropdown-content">
                      <a href="/app/components/user/account.html">Profile</a>
                      <a href="/app/components/user/rides-request.html" onclick="displayrequests()">Requests</a>
                      <a href="/app/components/user/bookings.html">Bookings</a>
                      <a href="/app/components/user/offeredrides.html">Offered Rides</a>
                      <a href="/app/components/Login/changepassword.html">Change Password</a>
                      <a onclick="signOut()">Sign out</a>
                  </div>
              </div>
          </a>
  <a href="../Traveller/find-a-ride.html"> <i class="fa fa-car" aria-hidden="true"></i> Find a Ride</a>
  <a href="app/components/Traveller/offerr-ride.html"> <i class="fa fa-plus-square" aria-hidden="true"></i> Offer a Ride</a>         
      <a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>        <a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
        </nav>
      <a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
    </div>
  </header>
<div class="container">
  <section id="banner3">
    <ul class="nav nav-tabs " style="font-size: 1.25em;
    font-weight: 700;">
      <li class="active"><a href="#pastbooking">Past Rides</a></li>
      <li><a href="#upcomingbooking">Upcoming Rides</a></li>
    </ul>

    <div class="tab-content">
      <div id="pastbooking" class="tab-pane fade in active">
      
    </div>
    <div id="upcomingbooking" class="tab-pane fade">
            
        </div>
    </div>
  </section>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
<script src="../Traveller/ride.js"></script>
<script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
<script src="/app/components/user/user.js"></script>
<script>
$(document).ready(function(){
    $("#nameinnavbar").html(Cookies.get("name"))
    $(".nav-tabs a").click(function(){
        $(this).tab('show');
    });
    getbookedrides();
});
</script>

</body>
</html>
