 <!DOCTYPE HTML>
<!--
	Projection by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>FabCab</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="../../../assets/css/main.css" />
		<link rel="shortcut icon" href="../../../images/favicon.ico">
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">	
		<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
		<!-- <link rel="stylesheet" href="DatePickerX-master/dist/css/DatePickerX.css"> -->
		
	</head>
	<body>

		<!-- Header -->
			<header id="header">
				<div class="inner">
					<a href="../../../index.html" class="logo"><strong>TukTUk</strong> </a>
					<nav id="nav">
                            <a href="#">
                                    <div class="dropdown">
                                          <div class="dropbtn">Smriti</div>
                                          <div class="dropdown-content">
                                            <a href="#">Profile</a>
                                            <a href="../user/bookings.html">Bookings</a>
                                            <a href="../user/offeredrides.html">Offered Rides</a>
                                            <a href="changepassword.html">Change Password</a>
                                            <hr>
                                            <a href="../../../index.html">Sign out</a>
                                          </div>
                                        </div>
                                      </a>
						<a href="../Traveller/find-a-ride.html">  <i class="fa fa-car" aria-hidden="true"></i>  Find a Ride</a>
						<a href="../Traveller/offerr-ride.html"> <i class="fa fa-plus-square" aria-hidden="true"></i>Offer a Ride</a>
						<a href="login.html">Login</a>
					</nav>
					<a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
				</div>
			</header>

		<!-- Banner -->
			<section id="banner2">
				<div class= "container-fluid">
					<div class="inner">
                        <header> <h2> Reset Password</h2></header></br>
						<div class="row">
                            <div class="col-md-6" style="position: relative; left: 25%;">
                                    
                                    <form method="post" action="#">	
                                            <table>
                                                    <tr>
                                                    <td> <label for="current" >Current Password </label></td>
													<td> 
														<input type="password" style="display: inline;" id="current" onblur="reqField(this);"/>
														<p id="reqField" style="color: red"></p>
													</td>
														 
                                                    </tr>
                                                    <tr>
                                                            <td> <label for="new">New Password </label></td>
															<td> 
																<input type="password" style="display: inline;" id="user-pass" onblur="passwordValidate(this);"/>
																<p id="passError1" style="color: red"></p>
															</td>
															
                                                    </tr>
                                                       
                                                    <tr>
                                                            <td> <label for="newconfirm">Confirm Password</label></td>
															<td> 
																<input type="password" style="display: inline;" id="confirm-pass" onblur="matchPasswords(this);"/>
																<p id="passError2" style="color: red"></p>
															</td>
                                                    </tr>
                                        </table>
                                        <hr>
                                        <button onclick="passChangeValidate()"> Done</button>
                                    </form>
                                    </div>


								<!-- <div>
									<span class="icon fa-car"></span>
									<h3>Aliquam</h3>
									<p>Suspendisse amet ullamco</p>
								</div>

								<div>
									<span class="icon fa-camera"></span>
									<h3>Elementum</h3>
									<p>Class aptent taciti ad litora</p>
								</div>

								<div>
									<span class="icon fa-bug"></span>
									<h3>Ultrices</h3>
									<p>Nulla vitae mauris non felis</p>
								</div> -->

						</div>
					</div>
				</div>
				</section>


			<!-- Three -->
			

		<!-- Scripts -->
			<script src="../../../assets/js/jquery.min.js"></script>
			<script src="../../../assets/js/skel.min.js"></script>
			<script src="../../../assets/js/util.js"></script>
			<script src="../../../assets/js/main.js"></script>
			<script src="../../../DatePickerX-master/src/js/DatePickerX.js"></script>
			<script src="login.js"></script>

	</body>
</html>