<!DOCTYPE HTML>
<!--
	Projection by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>

<head>
    <title>FabCab</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../../../assets/css/main.css" />
    <link rel="shortcut icon" href="images/favicon.ico">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="../../../DatePickerX-master/dist/css/DatePickerX.css">
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD8-biRTegRnn5jDJNoPbyZ9oWUicObzI0&libraries=places"></script>

</head>

<body>

    <!-- Header -->
    <header id="header">
        <div class="inner">
            <a href="../../../index.html" class="logo"><strong>TukTUk</strong> </a>
            <nav id="nav">
                    <a href="#">
                            <div class="dropdown">
                                <div class="dropbtn" id= "nameinnavbar"> 

                                </div>
                                <div class="dropdown-content">
                                    <a href="/app/components/user/account.html">Profile</a>
                                    <a href="/app/components/user/rides-request.html" onclick="displayrequests()">Requests</a>
                                    <a href="/app/components/user/bookings.html">Bookings</a>
                                    <a href="/app/components/user/offeredrides.html">Offered Rides</a>
                                    <a href="/app/components/Login/changepassword.html">Change Password</a>
                                
                                    <a onclick="signOut()">Sign out</a>
                                </div>
                            </div>
                        </a>
                <a href="../Traveller/find-a-ride.html"> <i class="fa fa-car" aria-hidden="true"></i> Find a Ride</a>
                <a href="app/components/Traveller/offerr-ride.html"> <i class="fa fa-plus-square" aria-hidden="true"></i> Offer a Ride</a>         
                <a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>        </nav>
            <a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
        </div>
    </header>

    <!-- Banner -->
    <section id="banner2">
        <div class="container-fluid">
            <div class="inner">
                <header>
                    <h2> Post your ride to offer empty seats.</h2>
                </header>
                <br />
                <div>
                    <div class="col-md-6" style="position: relative; left: 25%;">

                        <!-- <form method="post" action="#"> -->

                        <div>
                            <input type="text" name="source" id="source" value="" placeholder="Leaving from" onblur="checkSource(this);" />
                            <p id="sourceX" style="color: red"></p>
                        </div>

                        <div>
                            <input type="text" name="dest" id="dest" value="" placeholder="Going To" onblur="checkDest(this);"/>
                            <p id="destX" style="color: red"></p>
                        </div>
                        <div class="">
                            <input type="text" name="demo" style="display: inline!important; width: 75%!important; color: black;" placeholder="Date" id="date">
                            <select id="hour" style="color: black; width:20%; display: inline!important; background-color:white; top:0.75em;">
																<option style="color: black;" value="">HH</option>
														</select>
                        </div>
                        <div>
                            <input type="number" name="demo" placeholder="No. of Seats available" min="1" max="7" id="seats">
                            <p id="seatsX" style="color: red"></p>
                        </div>
                        <div>
                            <input type="number" name="demo" placeholder="Price" min="50" id="price">
                            <p id="priceX" style="color: red"></p>
                        </div>
                        <!-- <div>
														<input type="text" name="stops" id="stops" value="" placeholder="Stops" />
												</div> -->
                        <div>
                            <input type="submit" name="Submit" id="submit" value="Post Ride" onclick="offerRideValidate(); offeraride()" />
                        </div>

                        <!-- </form> -->
                    </div>


                    <!-- <div>
									<span class="icon fa-car"></span>
									<h3>Aliquam</h3>
									<p>Suspendisse amet ullamco</p>
								</div>

								<div>
									<span class="icon fa-camera"></span>
									<h3>Elementum</h3>
									<p>Class aptent taciti ad litora</p>
								</div>

								<div>
									<span class="icon fa-bug"></span>
									<h3>Ultrices</h3>
									<p>Nulla vitae mauris non felis</p>
								</div> -->

                </div>
            </div>
        </div>
    </section>


    <!-- Three -->


    <!-- Scripts -->
    <script src="../../../assets/js/jquery.min.js"></script>
    <script src="../../../assets/js/skel.min.js"></script>
    <script src="../../../assets/js/util.js"></script>
    <script src="../../../assets/js/main.js"></script>
    <script src="ride.js"></script>
    <script src="../user/user.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>

    <script src="../../../DatePickerX-master/src/js/DatePickerX.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    <script>
        $(document).ready(function() {
            
            if (Cookies.get("user_id")==null){
                alert("Oops! You are not logged in.")
                location.href="/app/components/Login/login.html";
            }
            $("#nameinnavbar").html(Cookies.get("name"));
        });
    </script>

</body>

</html>